<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <%- view.csrfMetaTag %>
    <title>example</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- innerHTML %>
    <script src="/main.js"></script>
  </body>
</html>
