<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrfMetaTag %>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <%- innerHTML -%>
    <script src="/main.js"></script>
  </body>
</html>
